<?xml version="1.0"	 encoding="utf-8"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity
				name="UserOrder"
				publicKeyToken="f1d1fd88f0bcb8bb"/>
				<bindingRedirect
					oldVersion="0.0.0.0"
				/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>